{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
 <select>
      <option value="option3">AD 101</option>
<option value="option3">DEV 101</option>
<option value="option3">DEV 102</option>
<option value="option3">ESPE 101</option>
<option value="option3">ESPE 102</option>
<option value="option3">GE 101</option>
<option value="option3">GE 102</option>
<option value="option3">GE 103</option>
<option value="option3">GE 104</option>
<option value="option3">GE105</option>
<option value="option3">GE106</option>
<option value="option3">GE 107</option>
<option value="option3">GE 108</option>
<option value="option3">GE 109</option>
<option value="option3">GE 110</option>
<option value="option3">GE 111</option>
<option value="option3">GE 112</option>
<option value="option3">ID 101</option>
<option value="option3">ID 102</option>
<option value="option3">INFO 101</option>
<option value="option3">INFO 102</option>
<option value="option3">INFO 103</option>
<option value="option3">INFO 104</option>
<option value="option3">PD 101</option>
<option value="option3">AD 201</option>
<option value="option3">DEVOAM 201</option>
<option value="option3">DEVOWFS 201</option>
<option value="option3">DEVOWFS 202</option>
<option value="option3">DEVOWFS 203</option>
<option value="option3">DEVOWFS 204</option>
<option value="option3">ESPE 201</option>
<option value="option3">GEOCF 201</option>
<option value="option3">GEOCF 202</option>
<option value="option3">GEOCF 203</option>
<option value="option3">GEOCF 204</option>
<option value="option3">GEOCF 205</option>
<option value="option3">GEOCF 206</option>
<option value="option3">GEOCF 207</option>
<option value="option3">GEOCF 208</option>
<option value="option3">GEOCM 201</option>
<option value="option3">GEOCM 202</option>
<option value="option3">GEOCM 203</option>
<option value="option3">GEOCM 204</option>
<option value="option3">GEOCM 205</option>
<option value="option3">GEOCM 206</option>
<option value="option3">GEOCM 207</option>
<option value="option3">GEOCM 208</option>
<option value="option3">GEOOM 201</option>
<option value="option3">GEORH 201</option>
<option value="option3">GEORH 202</option>
<option value="option3">GEORH 203</option>
<option value="option3">IDOCC 201</option>
<option value="option3">IDOCS 201</option>
<option value="option3">IDOCS 202</option>
<option value="option3">IDOSR 201</option>
<option value="option3">IDOSR 202</option>
<option value="option3">IDOSR 203</option>
<option value="option3">PD 201</option>
<option value="option3">PD 202</option>
<option value="option3">BP COMERCE</option>
<option value="option3">FQ WM 101</option>
    </select>
    <input
      type="groupe"
      class="form-control"
      id="groupe"
      name="groupe"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
